/* Main containers */
body {padding:0; margin:0; font:83% tahoma,verdana,sans-serif; background-color:#e4e4e4; color:#333; text-align:center; line-height:1.0em;}
#wrap {width:1080px; text-align:left; margin:0 auto;}
/*#menu {text-align:right;margin-top:-40px;}*/
#content {background:#fff; text-align:left; padding:20px 20px 5px; margin:15px 0 15px 0;}

/* HTML Tags */
a {text-decoration:none; font-weight:400; color:#ff0000;}
a:hover {text-decoration:underline;}
a img {border:0;}
h1 {margin:15px auto 10px auto; padding:0; font-size:2.4em; color:#2a7a9a; letter-spacing:-1px; line-height:1.2em;}
h1 a {color:#2a7a9a; font-weight:700; text-decoration:none;}
h1 a:hover {color:#333; text-decoration:none;}
h2 {margin:0 0 12px 0; padding:10px 0; color:#2a7a9a; font-size:1.3em; font-weight:700; border-top: 1px solid #ddd; border-bottom:1px solid #ddd;}
h2 a {font-weight:700;}
h3 {font-size:1.4em; font-weight:400; margin:0 0 10px 0;}
p {margin:0 0 10px 0;}
ul {margin:0 0 15px 20px; padding:0;}
li {margin:0; padding:0 0 0 5px;}
td {font-family: Arial; font-size: 10pt;}


.top {
    background-color: cornsilk;
	text-align: left;
	width: 100%;
	color: black;
	float:left;
}
.middle {
    background-color: cornsilk;
	text-align: left;
	width: 100%;
	color: black;
	float:left;
}
.bottom {
    background-color: cornsilk;
	text-align: left;
	width: 100%;
	color: black;
	float:left;
}
.top_left{
    background-color: cornsilk;
	text-align: left;
	width: 33%;
	color: black;
    float:left;
}
.top_middle{
   background-color: cornsilk;
	text-align: left;
	width: 33%;
	color: black;
	float:left;
}
.top_right{
    background-color: cornsilk;
	text-align: left;
	width: 33%;
	color: black;
    float:right;
}
.middle_left{
    background-color: cornsilk;
	text-align: left;
	width: 33%;
	color: black;
    float:left;
}
.middle_middle{
   background-color: cornsilk;
	text-align: left;
	width: 33%;
	color: black;
	float:left;
}
.middle_right{
    background-color: cornsilk;
	text-align: left;
	width: 33%;
	color: black;
    float:right;
}
.bottom_left {
    background-color: cornsilk;
	text-align: left;
	width: 33%;
	color: black;
	float:left;
	}
.bottom_middle {
   background-color: cornsilk;
	text-align: left;
	width: 33%;
	color: black;
	float:left;
}
.bottom_right {
    background-color: cornsilk;
	text-align: left;
	width: 33%;
	color: black;
    float:right;
}
